<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Manage Documents with Blockchain Permissions</h5>
          <p class="category">Powered By 
            <a href="https://www.theshekoo.com">TelePathy</a>
          </p>
        </div>
        <div class="card-body all-icons">
          <div class="row">
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail">
                <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                <p>All Downloaded Today</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail">
                <i class="now-ui-icons arrows-1_cloud-upload-94"></i>
                <p>All Uploaded Today</p>
              </div>
            </div>           
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail">
                <i class="now-ui-icons arrows-1_refresh-69"></i>
                <p>Get Latest Intelligence</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail">
                <i class="now-ui-icons arrows-1_share-66 "></i>
                <p>Share my Sesssion for Transcribe</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail">
                <i class="now-ui-icons business_badge"></i>
                <p>Update Patient Cards</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail">
                <i class="now-ui-icons business_bank"></i>
                <p>QTUM Contracts</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail">
                <i class="now-ui-icons business_briefcase-24"></i>
                <p>HIPPAA Regulatory Documents</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail">
                <i class="now-ui-icons business_bulb-63"></i>
                <p>Buy Intelligence from TelePathy</p>
              </div>
            </div>
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail">
                <i class="now-ui-icons business_money-coins"></i>
                <p>QTUM Wallets</p>
              </div>
            </div>
            
            <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail">
                <i class="now-ui-icons health_ambulance"></i>
                <p>Ambulance Documents</p>
              </div>
            </div>
           
          <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <div class="font-icon-detail">
                <i class="now-ui-icons sport_user-run"></i>
                <p>Patient Fitness Documents</p>
              </div>
            </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
