<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> All Patients</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                 Patient Name
                </th>
                <th>
                  City
                </th>
                <th>
                  QTUM Earned Today
                </th>
                <th class="text-right">
                  Disease
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    New York
                  </td>
                  <td>
                    500
                  </td>
                  <td class="text-right">
                    Influenza
                  </td>
                </tr>
                <tr>
                  <td>
                    Minerva Hooper
                  </td>
                  <td>
                    Chicago
                  </td>
                  <td>
                    750
                  </td>
                  <td class="text-right">
                    Cholera
                  </td>
                </tr>
                <tr>
                  <td>
                    Sage Rodriguez
                  </td>
                  <td>
                    Florida
                  </td>
                  <td>
                    130
                  </td>
                  <td class="text-right">
                    Malaria
                  </td>
                </tr>
                <tr>
                  <td>
                    Doris Greene
                  </td>
                  <td>
                    New York
                  </td>
                  <td>
                    1567
                  </td>
                  <td class="text-right">
                    Influenza
                  </td>
                </tr>
                <tr>
                  <td>
                    Mason Lee
                  </td>
                  <td>
                    China
                  </td>
                  <td>
                    159
                  </td>
                  <td class="text-right">
                    Alzhimers
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title"> All Referred Doctors</h4>
          <p class="category"> Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  Speciality
                </th>
                <th class="text-right">
                  QTUM Paid Total
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Harry Singh
                  </td>
                  <td>
                    India
                  </td>
                  <td>
                    Influenza
                  </td>
                  <td class="text-right">
                    $36,738
                  </td>
                </tr>
                <tr>
                  <td>
                    Harold Lee
                  </td>
                  <td>
                    China
                  </td>
                  <td>
                    Sinus
                  </td>
                  <td class="text-right">
                    $23,789
                  </td>
                </tr>
                <tr>
                  <td>
                    Sagar Arora
                  </td>
                  <td>
                    Netherlands
                  </td>
                  <td>
                    Alzheimer's
                  </td>
                  <td class="text-right">
                    $56,142
                  </td>
                </tr>
                <tr>
                  <td>
                    Tom Borders
                  </td>
                  <td>
                    Korea, South
                  </td>
                  <td>
                    General Practisioner
                  </td>
                  <td class="text-right">
                    $38,735
                  </td>
                </tr>
                <tr>
                  <td>
                    Diamond Jones
                  </td>
                  <td>
                    Malawi
                  </td>
                  <td>
                    Influenza
                  </td>
                  <td class="text-right">
                    $63,542
                  </td>
                </tr>
                <tr>
                  <td>
                    Martin Junior
                  </td>
                  <td>
                    Chile
                  </td>
                  <td>
                    Gastro
                  </td>
                  <td class="text-right">
                    $78,615
                  </td>
                </tr>
                <tr>
                  <td>
                    Peter Parker
                  </td>
                  <td>
                    Portugal
                  </td>
                  <td>
                    Counseler
                  </td>
                  <td class="text-right">
                    $98,615
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
